body {
    margin: 0;
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #333333;
    text-transform: uppercase;
    width: 1200px;
    margin: 0 auto;
}

.main-menu {
    margin-bottom: -16px;
}

.menu-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    justify-content: space-around;
}

.main-menu li {
    width: 239px;
    height: 56px;
    text-align: center;
}

.main-menu a {
    line-height: 1;
    color: #000000;
    font-weight: bold;
    text-decoration: none;
    font-size: 14px;
}

.main-menu a:hover {
    color: #81b3d2;
} 

.main-menu a:active {
    color: rgba(0, 0, 0, 0.3);
}

.menu-list .current {
    color: #766357;
}

.welcome {
    background-color: ; 
    background-image: url(../img/background-photo.jpg);
    padding-top: 76px;
    padding-bottom: 80px;
    background-position: top center;
    background-repeat: no-repeat;
    text-align: center;
    margin-bottom: 61px;
}

.h2 {
    text-align: center;
}

.reasons {
    text-align: center;
    margin-bottom: 56px;
}

.reason-1 {
    font-size: 0;  
    display: inline-block;  
}

.content-1 {
    width: 280px;
    min-height: 146px;
    background-color:#81b3d2;
    color: #ffffff;
    text-align: center;
    display: inline-block;
    padding: 0 60px;
    padding-top: 46px;
    padding-bottom: 53px; 
    margin-right: 0;
    font-size: 14px;
    vertical-align: top;
    margin-bottom: 60px;
}

.img-1 {
    width: 800px;
    height: 256px;  
    display: inline-block;
}

.reason-1 ul {
    font-size: 14px;
    margin: 0;
    padding: 0;
    list-style: none;
    vertical-align: bottom;
    margin-left: 73px;
    margin-bottom: 85px;
}

.advices li, .other-sites li {
    display: inline-block;
    height: 185px;
    vertical-align: top;
    justify-content: center;
}

.house {
    width: 252px;
    margin-right: 133px;
    font-size: 14px;
}

.food {
    width: 284px;
    margin-right: 122px;
    font-size: 14px;
}

.souvenirs {
    width: 273px;
    font-size: 14px;
}

.advices div {
    text-align: center;
}

.advices p {
    text-align: center;
}

.content-2 {
    height: 256px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between; 
}

.text-content {
    width: 400px;
    background-color:#81b3d2;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    text-align: center;
    padding-bottom: 65px;
    min-height: 191px;
}

.text-content h2 {
    margin-top: 49px;
}

.img-2 {
    width: 800px;
    height: 256px; 
}

.reason-3, .reason-4, .reason-5 {
    width: 400px;
    min-height: 256px;
    background-color: #f2f2f2;
    color: black;
    text-align: center;
    font-size: 14px;
}

.reasons-row {  
    display: flex;
    margin-bottom: 57px;
}

.reasons-row h2 {
    margin-top: 50px;
}

.hotels-search {
    width: 435px;
    height: 96px;
    margin-left: 383px;
    text-align: center;
    padding: 0;
    margin-bottom: 52px;
}

.search-details {
    box-sizing: border-box;
}

.search-details {
    width: 568px;
    min-height: 86px;
    margin-left: 316px;
    padding-top: 55px;
    font-weight: bold;  
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
    padding-left: 55px;
    padding-right: 55px;
}

.search-details input {
    width: 346px;
    min-height: 38px;
    border: 0;
    padding: 0;
    background-color: #f2f2f2;
    margin-bottom: 29px;
    font-weight: bold;  
}

.search-details input {
    padding-left: 13px;
}

.arrival-date a {
    fill: #cacaca;
    position: absolute;
}

.arrival-date a:hover {
    fill: black;
}

.arrival-date  a:active {
    fill: #81b3d2;
}

.arrival-date a:first-of-type {
    left: 430px;
    top: 8px;
}

.arrival-date a:last-of-type {
    left: 430px;
    top: 74px;
}

.arrival-date {
    width: 100%;
    display: flex; 
    align-items: baseline;   
    position: relative;
}

.arrival-date label {
    margin-right: auto;
}

#adult, #children {
    width: 0;
    min-width: 38px;
    height: 38px;
    border: 0;
    background-color: #f2f2f2;
    padding: 0;
}

.people {
    display: flex;
    width: 100%;
    margin-bottom: 54px;
}

.people a {
    text-decoration: none;
    display: inline-block;
    background-color: #f2f2f2;
    width: 38px;
    height: 38px;
    text-align: center;
    line-height: 38px;
    text-transform: uppercase;
    font-family: 'PT Sans', Arial, sans-serif;
    color: rgba(0, 1, 1, 0.2);
    font-size: 21px;
}

.people div:first-of-type a:last-child {
    margin-right: 65px;
}

.people label {
    margin-right: 28px;
}

.people input {
    width: 38px;
    vertical-align: middle;
    text-transform: uppercase;
    font-family: 'PT Sans', Arial, sans-serif;
    color: #333333;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    margin: 0;
}

.people div { 
    display: flex; 
    align-items: center; 
}

.hotel-search {
    width: 100%;
    height: 58px;
    background-color: #81b3d2;
    border: 0;
    color: white;
    font-size: 21px;
    font-weight: bold;
    font-family: 'PT Sans', Arial, sans-serif;
    line-height: 1.5;
    text-transform: uppercase;
    margin-bottom: 55px;
}

.hotel-search:hover {
    background-color: #669ec0;
}

.hotel-search:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3); 
}

.question {
    font-size: 30px;
    font-weight: bold;
}

.search-button {
    margin-left: 316px;
    width: 568px;
    height: 86px;
    background-color: #766357;
    border: none;
    color: white;
    font-size: 21px;
    font-weight: bold;
    padding: 0;
    text-transform: uppercase;
}

.search-button:hover {
    background-color: #604e43;
}

.search-button:active {
    background-color: #503e33;
    color: rgba(255, 255, 255, 0.3);
}

.map {
    width: 1200px;
    height: 593px;
    background-image: url(../img/map.jpg);
    margin-bottom: 51px;
}

.hashtag {
    font-size: 21px;
    font-weight: bold;
}

.footer {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.other-sites a {
    background-color: #81b3d2;
    width: 46px;
    height: 48px;
    display: inline-flex;  
    align-items: center;
    justify-content: center;    
}

.other-sites li {
    align-items: center;
    display: inline-flex;    
}

.other-sites a:hover {
    background-color: #669ec0;
}

.other-sites a:active {
    background-color: #5496bd;
}

.other-sites a:active img {
    opacity: 0.3;
}

.other-sites img:active {
    opacity: 0.3;   
}

.academy-logo {
    vertical-align: middle;
}

.academy-logo a:hover {
    fill: #81b3d2;
}

.footer-div {
    flex: 33.333333% 0 0;
    text-align: center;
    vertical-align: middle;
}

.demands {
    background-image: url(../img/filter-background.jpg);
    background-position: center;
    width: 1200px;
    height: 233px;
    display: flex;
    margin-top: 15px;
    padding-top: 31px;
}

.demands p {
    color: white;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 28px;
}

.demands ul {
    margin: 0;
    padding: 0;
}

.demands li {
    list-style: none;
}

.demands label {
    color: white;
}

.filter-range {
    width: 330px;
    margin: 0px auto; /* для демо */
  
    color: #ffffff;
    text-transform: uppercase;
  }
  
  .filter-range-title {
    margin-bottom: 9px;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
  }
  
  .price-controls {
    position: relative;
    
    height: 36px;
    margin-bottom: 20px;
  
    font-size: 0;
  
    border: 2px solid #ffffff;
    border-radius: 2px;
  }
  
  .price-controls::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
  
    width: 2px;
    height: 22px;
  
    background: #ffffff;
    transform: translate(-50%, -50%);
  }
  
  .price-controls label {
    display: inline-block;
  
    font-size: 14px;
    line-height: 38px;
    vertical-align: top;
  
    cursor: pointer;
  }
  
  .price-controls .min-price,
  .price-controls .max-price {
    width: 90px;
    padding-left: 65px;
  }
  
  .price-controls input {
    width: 50px;
    margin: 0;
  
    color: inherit;
    font: inherit;
  
    background: none;
    border: none;
  }
  
  .range-controls {
    position: relative;
  
    margin-bottom: 32px;
  }
  
  .range-controls .scale {
    height: 2px;
  
    background: rgba(255, 255, 255, 0.3);
  }
  
  .range-controls .bar {
    width: 80%;
    height: 2px;
  
    background: #ffffff;
  }
  
  .range-toggle {
    position: absolute;
    top: -9px;
  
    width: 4px;
    height: 4px;
  
    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
  }
  
  .range-toggle:hover {
    background: #1c4f80;
  }
  
  .range-toggle-min {
    left: 0;
  }
  
  .range-toggle-max {
    left: 80%;
  }
  
  .btn-transparent {
    display: block;
    margin: 0 auto;
    padding: 6px 35px;
  
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    text-transform: uppercase;
  
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
    cursor: pointer;
  }

.infrastructure {
    margin-left: 72px;
    margin-right: 115px;
}

.infrastructure-checkbox label, .accomodation-checkbox label {
    background-image: url(../img/checkbox-off.svg);
    background-repeat: no-repeat;
    backgroud-position: 0 0;
    padding-left: 40px;
    min-height: 24px;
    display: block;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden, .hotel-search .visually-hidden {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;
white-space: nowrap;
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;
}

.demands li {
    margin-bottom: 30px;
}

.check-box:checked + label {
    background-image: url(../img/checkbox-on.svg);
    background-repeat: no-repeat;
    backgroud-position: 0 0;
    padding-left: 40px;
}

.sorting {
    width: 1200px;
    height: 86px;
    display: flex;
    align-items: baseline;
    align-items: center;
}

.sorting h2 {
    margin-left: 72px;
    margin-right: 49px;
}

.sorting ul {
    width: 862px;
}


.sorting li {
    font-size: 12px;
    list-style: none;   
    display: inline-block;
    margin-right: 32px;
}

.sorting a:hover {
    color: #81b3d2;
}

.sorting a:active {
    color:#000000;
}

.sorting ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.sorting a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.3);
    border-bottom: 1px dotted rgba(0, 0, 0, 0.3);
    font-size: 12px;    
}

.hotel-1, .hotel-2, .hotel-3 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    width: 1200px;
    min-height: 120px;
    display: flex;
    padding-top: 30px;
}

.hotel-1 {
    border-top: 1px solid rgba(0, 0, 0, 0.3);
}

.info {
    flex-grow: 1;
    margin-left: 30px; 
}

.hotel-name{
    margin: 0;
}

.info h2 {
    text-align: left;  
}

.hotel-name a {
    text-decoration: none;
    color: black;
    font-size: 21px;
}

.hotel-name a:hover {
    color: #81b3d2;
}

.hotel-name a:active {
    color: rgba(0, 0, 0, 0.3);
}

.type-price {
    padding-top: 2px;
    padding-bottom: 13px;
    display: inline-block;
}

.hotel-view {
    margin-left: 72px;
}

.hotel-word {
    display: inline-block;
    width: 112px;
}

.to-book {
    text-decoration: none;
    background-color: #766357;
    color: white;
    font-weight: bold;
    padding: 5px 15px;
    margin: 0;
}

.to-book:hover {
    background-color: #604e43;
} 

.to-book:active {
    background-color: #503e33;
    color: rgba(255, 255, 255, 0.3);
}

.details {
    text-decoration: none;
    background-color: #81b3d2;
    color: white;
    font-weight: bold;
    padding: 5px 16px;
}

.details:hover {
    background-color: #669ec0;
}

.details:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
}

.rating-value {
    background-color: #f2f2f2;
    padding: 3px 12px 4px 15px;
    color: #666666;
    margin-right: 73px;
}

.sorting .active {
    color: #81b3d2;
    border: none;
}

.stars-row {
    text-align: right;
    margin-right: 73px;
}

.stars {
    width: 18px;
    height: 17px;
    background: url(../img/star.svg);
    background-repeat: no-repeat;
    display: inline-block;
}

.footer-div svg {
    width: 115px;
    height: 41px;
}

.footer-div svg:hover {
    fill: #81b3d2;  
}

.footer-div svg:active {
    fill: #bdbbbc;
}

.up-down-icon a {
    border: none;
}

.up-down-icon svg {
    fill: #cacaca;
}

.up-down-icon svg:hover {
    fill: black;
}

.up-down-icon svg:active {
    fill: #81b3d2;
}

